<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtree.main">

    <application>
        <!--在自己组件中注册Activity-->
        <activity android:name="com.xtree.main.ui.MainActivity"
            android:launchMode="singleTop"></activity>
    </application>
</manifest>
