<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtree.component">

    <application
        android:name="com.xtree.component.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/appcenter_backup_rule_under_11"
        android:dataExtractionRules="@xml/appcenter_backup_rule_over_12"
        tools:replace="android:icon,android:label,android:theme">
    </application>

</manifest>