<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtree.mine">

    <application>

        <!-- 在自己组件中注册Activity -->
        <activity
            android:name=".ui.activity.LoginRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChooseActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/style_trans_theme" />
        <activity
            android:name=".ui.activity.ActivityFlow"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/style_trans_theme" />
        <activity
            android:name=".ui.activity.GlobeVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>