<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtree.bet">

    <application>
        <activity
            android:name="com.xtree.bet.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtree.bet.ui.activity.BtDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtree.bet.ui.activity.BtDetailResultActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtree.bet.ui.activity.ExpandActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>