<manifest package="com.xtree.bet"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.xtree.bet.ui.activity.MainActivity"></activity>
        <activity android:name="com.xtree.bet.ui.activity.BtDetailActivity"></activity>
        <activity android:name="com.xtree.bet.ui.activity.ExpandActivity"></activity>
    </application>
</manifest>