<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="me.xtree.mvvmhabit">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="me.xtree.mvvmhabit.base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="me.xtree.mvvmhabit.crash.DefaultErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name="me.xtree.mvvmhabit.crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>

</manifest>
